
<!DOCTYPE html>
<html lang="en">
<head>
  <title>terapias</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 

</head>


<div class="jumbotron text-center">
    <h3>Bienvenido aEncuesta Satifsfacción Terapias Domiciliarias : {{user.fullname}}</h3>
  </div>
<form class="row g-3">
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">Cedula</label>
    <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
    <div class="valid-feedback">
      Datos validos!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Nombre</label>
    <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
    <div class="valid-feedback">
      Datos validos!
    </div>
</form>

<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">El servicio de terapias domiciliarias que viene recibiendo lo considera: </label>
  <select class="form-select" id="inputGroupSelect01">
    <option seleccione>Escoja...</option>
    <option value="bueno">Bueno</option>
    <option value="regular">Regular</option>
    <option value="malo">Malo</option>
  </select>
</div>

<div class="input-group">
  <span class="input-group-text">En caso de considerarlo malo o regular explique porque:</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>

<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Que tipo de terapia tiene prescrita? : </label>
  <select class="form-select" id="inputGroupSelect02">
    <option seleccione>Escoja...</option>
    <option value="Terapia Fisica">Terapia Fisica</option>
    <option value="Terapia de Lenguaje">Terapia de Lenguaje</option>
    <option value="Terapia ocupacional">Terapia ocupacional</option>
  </select>
</div>


<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Con que frecuencia recibe el servicio de terapias a la semana *: </label>
  <select class="form-select" id="inputGroupSelect03">
    <option seleccione>Escoja...</option>
    <option value="Terapia Fisica">1-2 veces por semana</option>
    <option value="Terapia de Lenguaje">3- mas veces por semana</option>
    <option value="Terapia ocupacional">ninguna vez</option>
  </select>
</div>


<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Con que frecuencia recibe el servicio de terapias a la semana *: </label>
  <select class="form-select" id="inputGroupSelect04">
    
    <option value="Terapia Fisica">SI</option>
    <option value="Terapia de Lenguaje">NO</option>
  </select>
</div>

<div class="input-group">
  <span class="input-group-text">En caso de marcar NO, por favor detalle cual servicio no está recibiendo, Terapia Fisica,Terapia de Lenguaje,Terapia ocupacional </span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>

<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">El terapista cumple con el protocolo de bioseguridad(lavado de manos ,tapabocas ,bata, guantes ): </label>
  <select class="form-select" id="inputGroupSelect05">
    
    <option value="Terapia Fisica">SI</option>
    <option value="Terapia de Lenguaje">NO</option>
  </select>
</div>

</html>

 